.columnContainer {
    display: flex;
    justify-content: center;
}

.controlContainer {
    padding: 20px;
    margin: 5px;
    background-color: #C0C0C0;
    border-radius: 5px;
}

.error {
    padding: 5px;
}

.centerSpinner {
    display: flex;
    justify-content: center;
}